*{
padding: 0;
margin: 0;
color: white;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: black ;
    display: flex;
}   
.img-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;

}
.img-box img{
    width: 100%;
    
}
.profile{
    display: flex;
    align-items: center;
    gap: 30PX;
}
.profile h2{
    font-size: 20px;
    text-transform: capitalize;
}


.menu{
    background-color: #234;
    width: 60px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: 0.5s;

}
.menu:hover{
    width: 260px;
    transition: 0.5s;
}
ul{
    list-style: none;
    position: relative;
    height: 95%;
}
ul li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;

}
ul li a:hover, .active, .data-info .box:hover, td:hover{
    background-color: rgb(81, 84, 87);
    transition: 0.3s;
}
.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.log-out a{
   background-color: red;
}
ul li a i{
    font-size: 30px;
    
}
.content{
   width: 100%;
   margin: 10px;
}
.title-info{
    background-color: rgb(46, 123, 239);
    padding: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin: 10px 0;
}
.data-info {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.data-info .box{
    background-color: #123;
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.data-info .box i{
    font-size: 40px;
}
.data-info .box .data{
    text-align: center;
}
.data-info .box .data span{
    font-size: 30px;
}
table{
    width: 100%;
    text-align:center;
    border-spacing: 8px;

}
td, th{
    background-color: #123;
    height: 40px;
    border-radius: 8px;
}
th{
    background-color: rgb(46, 123, 239);
}
.price, .count{
    padding: 10px;
    border-radius: 4px;

}
.price{
    background-color: rgb(129, 29, 215);
}
.count{
    background-color: rgb(210, 13, 105);
}